* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: white;
}

i {
  width: 1em !important;
}

.about, .sign_up {
  background-color: #F6F9FF;
}

footer {
  padding-bottom: 100px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: none !important;
}

a:hover {
  color: black !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #005054 !important;
}

h1 {
  font-size: 56px !important;
}

h2 {
  font-size: 36px !important;
}

h3 {
  font-size: 24px !important;
}

@media screen and (max-width: 992px) {
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 32px !important;
  }
  h2 {
    font-size: 22px !important;
  }
}
.home {
  background-image: url(/storage/home_bg.png);
  background-size: cover;
  width: 100%;
  height: 90%;
}

.home_btn {
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  .home {
    height: 500px;
  }
}
@media screen and (max-width: 992px) {
  .home {
    height: 400px;
  }
}
@media screen and (max-width: 767px) {
  .home {
    height: 350px;
  }
}
@media screen and (max-width: 576px) {
  .home {
    height: 230px;
  }
  .home_btn {
    margin-top: 0;
  }
}
.search_block {
  background-color: #005054;
  height: 230px;
}

#map {
  height: 680px;
}

@media screen and (max-width: 576px) {
  #map {
    height: 380px;
  }
}
.contact {
  background-image: url(/storage/bg_footer.png);
  background-size: cover;
}
